@import url('https://rsms.me/inter/inter.css');

$primary_font_color: $color_slate;
$primary_font_stack: "Inter", "San Francisco", "Roboto", "Droid Sans", sans-serif;
$header_font_stack: "Inter", "San Francisco", "Roboto", "Droid Sans", sans-serif;
